{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "no-undef": "warn",
    "import/no-useless-path-segments": "off",
    "react/jsx-indent": [2, 2],
    "react/jsx-one-expression-per-line": "off",
    "no-tabs": "off"
  }
}